[Unit]
Description=Xremap Key Remapper
After=graphical-session.target

[Service]
ExecStart=/home/edwardsun/.cargo/bin/xremap /home/edwardsun/.config/xremap/config.yml
Restart=on-failure
Environment=RUST_LOG=warn
# If you are using Wayland, uncomment the next line and modify it for your compositor
# Environment=XDG_SESSION_TYPE=wayland

[Install]
WantedBy=default.target

